 h1{ background: green;
        color: white;
    margin: 5px 5px 10px;}

h2{ background: yellowgreen;
        color: black;
    margin: 0px 0px 0px;}
    p{ background: yellowgreen;
        color: whitesmoke;}
h3{ background: greenyellow;
color: black;}